.container-card {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  height: 100%;
  background: #262626;
  border-radius: 20px;
  border: 10px solid #171717;
  box-shadow: 10px 10px 20px 3px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
}

.container-pokebola {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55vh;
  background: #262626;
  border-radius: 20px;
  border: 10px solid #171717;
  box-shadow: 10px 10px 20px 3px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
}

/* Header/Blog Title */
.header {
  padding: 60px;
  text-align: center;
  background-image: url("../../../public/img/backgroundHeader2.jpg");
  background-repeat: repeat;
  background-size: cover;
  background-position: center;
}

.header img {
  width: 350px;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
  float: left;
  width: 100%;
}

/* Add a card effect for articles */
.card2 {
  background-color: white;
  padding: 20px;
  background: #d6d3d1;
}

.pokemon-count img {
  margin-right: 10px;
}

.pokemon-count h2 {
  font-size: 30px;
}

.pokemon-count h5 {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.search-box {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.search-box input {
  position: relative;
  display: inline-block;
  font-size: 20px;
  box-sizing: border-box;
  transition: 0.5s;
}

.search-box input[type="text"] {
  background: #fff;
  width: 70%;
  height: 50px;
  border: none;
  outiline: none;
  padding: 0 25px;
  border-radius: 25px 0 0 25px;
  border: 2px solid #000;
}

.search-box input[type="submit"] {
  position: relative;
  border-radius: 0 25px 25px 0;
  width: 30%;
  height: 50px;
  border: none;
  outiline: none;
  cursor: pointer;
  background: #b91c1c;
  color: #fff;
  text-align: center;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  border-right: 2px solid #000;
}

.loadingMorePokemons {
  position: relative;
  border-radius: 25px;
  width: 150px;
  height: 50px;
  border: none;
  outiline: none;
  cursor: pointer;
  background: #da2c33;
  color: #fff;
  text-align: center;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
  margin-top: 20px;
  border: 2px solid #000;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 12%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {
  margin: 0 -5px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card3 {
  padding: 16px;
  text-align: center;
}

@media screen and (max-width: 1750px) {
  .column {
    width: 20%;
    display: block;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .search-box input[type="submit"] {
    width: 25%;
  }
  .search-box input[type="text"] {
    width: 75%;
  }
}

@media screen and (max-width: 1290px) {
  .column {
    width: 25%;
    display: block;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* Responsive columns */
@media screen and (max-width: 990px) {
  .column {
    width: 33%;
    display: block;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .search-box input[type="submit"] {
    width: 35%;
  }
  .search-box input[type="text"] {
    width: 65%;
  }
}

@media screen and (max-width: 690px) {
  .column {
    width: 50%;
    display: block;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 450px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn,
  .rightcolumn {
    width: 100%;
    padding: 0;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 540px) {
  .topnav a {
    float: none;
    width: 100%;
  }
  .search-box input[type="submit"] {
    width: 35%;
    font-size: 11px;
  }
  .search-box input[type="text"] {
    width: 65%;
    font-size: 11px;
  }
  .card2 h2 {
    font-size: 18px;
    text-align: justify;
  }
  .header img {
    width: 150px;
  }
}
